<div class="bg" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="mainbox">

        <div class="container">
            <div class="what-is-up">

                <div class="spinny-cogs">
                    <i class="fa fa-cog" style="color:white" aria-hidden="true"></i>
                    <i class="fa fa-5x fa-cog fa-spin" style="color:white" aria-hidden="true"></i>
                    <i class="fa fa-3x fa-cog" style="color:white" aria-hidden="true"></i>
                </div>
                <h1 class="maintenance" style="color:white" translate>Under Maintenance</h1>
            </div>
        </div>
    </div>
</div>