span.eye {
    position: absolute;
    top: 50%;
    right: 6px;
}

.alert-danger {
    background: transparent;
}

.bttn {
    border: 1px solid #f7a600;
    height: 2.625rem;
    min-width: 6.5625rem;
    /* background: var(--gradient); */
    /* color: #fff; */
    font-size: 1.0313rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.3rem;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    margin-right: 10px;
}

.bttn:hover {
    background-color: #f7a600;
    color: #121c29;
}

.bttn:hover .signin {
    color: #121c29;
    /* margin-left: 6px; */
}
.register-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #e1ad11;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    width: 200px;
}

.register-box a:hover {
    /* background: #e1ad11; */
    color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #e1ad11, 0 0 25px #e1ad11, 0 0 50px #e1ad11, 0 0 100px #e1ad11;
}

.register-box a span {
    position: absolute;
    display: block;
}

.register-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #e1ad11);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.register-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e1ad11);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.register-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #e1ad11);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.register-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e1ad11);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.register-box a:hover span {
    animation: unset;
}

.register-box {
    border: 1px solid #e7a902;
    margin: 2rem;
    padding: 28px;
    width: 90%;
    height: 90%;
    background: #172438;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #172438;
    padding-top: 20px;
}

.register h1 {
    color: #e6a801;
}

span.eye {
    position: absolute;
    top: 50%;
    right: 6px;
}

.alert-danger {
    background: transparent;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #e1ad11;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-family: "Prototype";
}

.login-box a:hover {
    /* background: #e1ad11; */
    color: #fff !important;
    border-radius: 5px;
    box-shadow: 0 0 5px #e1ad11, 0 0 25px #e1ad11, 0 0 50px #e1ad11, 0 0 100px #e1ad11;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #e1ad11);
    animation: btn-anim1 1s linear infinite;
}

.login {
    cursor: pointer;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e1ad11);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #e1ad11);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e1ad11);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.login-box a:hover span {
    animation: unset;
}

::ng-deep.modal-content {
    background-color: #0c131d;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    color: #fff;
    width: 35vw;
}

::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex !important;
    align-items: center;
}

::ng-deep .close {
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    outline: none;
    color: #fff;
    font-family: "Prototype";
}

.active .bs-stepper-circle {
    background-color: #e1ad11;
}

.bs-stepper .line,
.bs-stepper-line {
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin: auto;
    background-color: #fff;
}

.next {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.bs-stepper-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success {
    color: #fff;
    background-color: #e1ad11;
    border-color: #e1ad11;
}

.files {
    display: flex;
    flex-direction: column;
}
