<div class=" web no-gutters">
    <div class="content-main touch-left bg">
        <div class="row header">
            <h4 class="page-title" translate>
                Bet history</h4>
        </div>
        <div *ngIf="lengthdata == 0">
            <div> <span class="empty-text transaction" translate> No bets yet.</span>
            </div>

        </div>
        <div style="width: 100%;">
            <table *ngIf="lengthdata != 0">
                <thead>
                    <tr>
                        <th translate> Created at </th>
                        <th translate> Ticket ID </th>
                        <th translate> Transaction ID </th>
                        <th translate> Amount </th>
                        <th translate> Win </th>
                        <th translate> Status </th>
                        <th translate> Before/after bet </th>
                        <th translate> Before/after update </th>
                    </tr>
                </thead>
                <tbody *ngFor="let tk of transactions;index as i;">
                    <tr>
                        <td>{{tk.created_at | date:'MM/dd/yyyy HH:MM ' }}</td>
                        <td>{{tk.ticket_id}}</td>
                        <td>{{tk.transaction_id}}</td>
                        <td>{{tk.amount | number:'1.1-2'}}</td>
                        <td>{{tk.win}}</td>
                        <td *ngIf="tk.ticket_info.TicketResult == 'none' "> pending</td>
                        <td *ngIf="tk.ticket_info.TicketResult != 'none' "> {{tk.ticket_info.TicketResult}}</td>

                        <td *ngIf="tk.old_balance_before_bet!=null && tk.new_balance_after_bet!=null ">
                            {{tk.old_balance_before_bet}} / {{tk.new_balance_after_bet}}</td>
                        <td *ngIf="tk.old_balance_before_bet==null || tk.new_balance_after_bet==null ">-</td>

                        <td *ngIf="tk.status !=null">
                            {{tk.old_balance_before_win}} / {{tk.new_balance_after_win}}</td>
                        <td *ngIf="tk.status ==null">-</td>
                    </tr>

                </tbody>
            </table>


            <div *ngIf="lengthdata != 0" class="row" style="width: 100%;text-align: center;">
                <div class="col-md-12"> <span class="empty-text"> Page :
                        {{page+1}}</span></div>
            </div>
            <div *ngIf="lengthdata != 0" class="navv">
                <nav aria-label="Page navigation example" style="color: black;     width: 96%;">
                    <ul class="pagination">
                        <li class="page-item">
                            <button style="background-color: transparent;border: none;">
                                <a class="page-link" (click)="backTo()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </button>

                        </li>
                        <div class="pagess">
                            <li class="page-item" *ngFor="let p of arraytotal; let i = index">
                                <button style="background-color: transparent;border: none;">
                                    <a class="page-link" (click)="getdTicketsPlayerPage(i)">{{i+1}}</a>
                                </button>
                            </li>
                        </div>

                        <li class="page-item">
                            <button style="background-color: transparent;border: none;">
                                <a class="page-link" (click)="nextTo()" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </button>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>