.mainbox {
    background-color: #121c29;
    margin: auto;
    height: 600px;
    width: 280px;
    position: relative;
}

.bg {
    background: #121c29;
}

.err {
    color: #ffffff;
    font-family: 'Prototype', sans-serif;
    font-size: 9rem;
    position: absolute;
    left: 0%;
    top: 13%;
}

.fa {
    position: absolute;
    font-size: 5.5rem;
    left: 32%;
    top: 23%;
    color: #ffffff;
    border: 5px solid #fff;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 9rem;
    position: absolute;
    left: 68%;
    top: 13%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    color: white;
}

a {
    text-decoration: none;
    color: #ecaf00;
}

a:hover {
    text-decoration: underline;
}

@-webkit-keyframes rotating
/* Safari and Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}