/* .carousel-caption {
    color: #e0ac0f;
}

::ng-deep .carousel-indicators li {
    background-color: #f0cc62 !important;
}

::ng-deep .picsum-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 92vh;
}*/

select#provider-select {
    border: 0;
    border-radius: 6px;
    height: 40px;
    outline: none;
    color: #121c29;
    margin-right: 1rem;
}

.casino-navs {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #efb100;
}

.casino-navss {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #efb100;
}

.wrapper__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.buttonProvider {
    background-color: white;
}

.search input {
    border: 1px solid #fff;
    outline: none;
    padding: 0px 10px;
    border-radius: 6px;
    font-family: "Prototype";
}

.top-page {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-page img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.top-page .text {
    position: absolute;
    top: 37%;
    left: 55%;
    color: #efb100;
    font-size: 1.5rem;
    width: 30%;
    font-family: "Prototype";
}

.slider {
    background: linear-gradient(360deg, #2b2b2b 0%, rgb(1 1 1) 55%);
}

span.icon {
    position: absolute;
    width: 100%;
    left: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121c29;
}

.search {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Prototype";
}

.search input {
    width: 100%;
    height: 40px;
}

.search input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #121c29;
    opacity: 1;
    font-family: "Prototype";
    /* Firefox */
}

.items {
    display: flex;
    position: relative;
    display: flex;
    position: relative;
    padding-left: 20px;
    border-radius: 15px;
    /* width     : calc(100% - 500px); */
}

.items .item {
    color: #121c29;
    font-size: 15px;
    background: #efb100;
    margin-right: 8px;
    font-weight: 700;
    padding: 0 16px 0 4px;
    border-radius: 20px;
    height: 32px;
    align-items: center;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    font-family: "Prototype";
}

.scroll-item .item {
    /* color: #172438; */
    /* font-size: 15px; */
    /* background: #efb100; */
    /* margin-right: 8px; */
    /* font-weight: 700; */
    /* padding: 0 16px 0 4px; */
    /* border-radius: 20px; */
    /* height: 32px; */
    align-items: center;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    /* border: 1px solid #efb100; */
}

.scroll-item {
    padding-top: 10px;
}

.item img {
    border-radius: 15px;
}

::ng-deep .drag-scroll-content::-webkit-scrollbar {
    display: none;
}

.nav-game-category-icon {
    height: 24px;
    width: auto;
    font-size: 1.2em;
    margin-right: 0.25rem;
    color: #af2925;
    vertical-align: middle;
    position: relative;
    top: -2px;
    font-family: "Prototype";
}

::ng-deep .drag-scroll-content {
    width: 100%;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
    align-self: stretch;
}

.games {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line .item {
    flex-grow: 1;
    margin: 10px;
    position: relative;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 3;
    padding-left: 10px;
}

.line {
    display: grid !important;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.line .item img {
    width: 100%;
    object-fit: fill;
    height: 200px;
    border-radius: 12px 12px 0px 0px;
    border-top: 4px solid #efb100;
    border-left: 4px solid #efb100;
    border-right: 4px solid #efb100;
}

.line .big img {
    height: 457px;
}

.line .text {
    background: #121c29;
    color: rgb(214, 214, 214);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 400;
    border-radius: 0px 0px 12px 12px;
    font-family: "Prototype";
    border-top: 2px solid #efb100;
    border-left: 4px solid #efb100;
    border-right: 4px solid #efb100;
    border-bottom: 4px solid #efb100;
}

@media (max-width: 1450px) {
    .line {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (max-width: 1220px) {
    .line {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 970px) {
    .line {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .line {
        display: block;
    }
}

.on-hover {
    display: none;
}

.line .item:hover .on-hover {
    display: block !important;
    background: #00000057;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
}

.line .item:hover .on-hover::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.line .item:hover .on-hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}

.on-hover img {
    height: 48px !important;
    width: 48px !important;
    top: 40% !important;
    position: absolute !important;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-8 16:24:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-3
 * ----------------------------------------
 */

@-webkit-keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* vibration */

.item.big {
    -webkit-animation: vibrate-3 2s linear infinite both;
    animation: vibrate-3 10s linear infinite both;
}

@keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* snow man and me */

.snowContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.snowExample {
    position: absolute;
    text-align: center;
    animation: SnowExampleSlide ease-in infinite;
    -webkit-animation: SnowExampleSlide ease-in infinite;
    -moz-animation: SnowExampleSlide ease-in infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.snowExample:before {
    background: #000;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: absolute;
    opacity: 0.3;
    border-radius: 16px;
    background-image: url(https://www.claytabase.co.uk/System/Artwork/Backgrounds/Xmas/ClaytabaseSnow.png);
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }
    to {
        position: absolute;
        top: 633px;
    }
}

@-webkit-keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }
    to {
        position: absolute;
        top: 633px;
    }
}

@-moz-keyframes SnowExampleSlide {
    from {
        position: absolute;
        top: -450px;
    }
    to {
        position: absolute;
        top: 633px;
    }
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 0.7;
    }
    45% {
        opacity: 0.6;
    }
    55% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.2;
    }
}

::ng-deep .my-class .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #5cb3fd;
}

.items {
    display: flex;
    position: relative;
    padding-left: 20px;
}

p.provider {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.f .item {
    color: rgb(95 125 137);
    font-size: 15px;
    background: #152633;
    margin-right: 8px;
    font-weight: 700;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    height: 42px;
    align-items: center;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 189px;
}

.img-prov {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: #000 1px solid;
}

.itemActive {
    color: #213c47 !important;
    background: #ffcc00 !important;
}

.wrapper__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) and (max-width: 991px) {
    span.icon {
        width: 97%;
    }
}

.selectt {
    width: 197px;
    border-radius: 8px;
    height: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.text span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
