<div class="bg game-modal" [ngStyle]="{'background' : 'url(' + background + ') '}">
    <div class="modal-header">
        <h4 class="modal-title" (click)="goHome()">Home</h4>

        <div class="actions">
            <span *ngIf="isFullScreen" class="close" (click)="closeFullscreen()"> <svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#ffffff">
                            <path
                                d="M59.125,21.5v37.625h-37.625v10.75h48.375v-48.375zM102.125,21.5v48.375h48.375v-10.75h-37.625v-37.625zM21.5,102.125v10.75h37.625v37.625h10.75v-48.375zM102.125,102.125v48.375h10.75v-37.625h37.625v-10.75z">
                            </path>
                        </g>
                    </g>
                </svg></span>


            <span *ngIf="!isFullScreen" class="close" (click)="openFullscreen()"><svg xmlns="http://www.w3.org/2000/svg"
                    x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#ffffff">
                            <path
                                d="M35.83333,21.5c-7.83362,0 -14.33333,6.49972 -14.33333,14.33333v28.66667h14.33333v-28.66667h28.66667v-14.33333zM107.5,21.5v14.33333h28.66667v28.66667h14.33333v-28.66667c0,-7.83362 -6.49972,-14.33333 -14.33333,-14.33333zM21.5,107.5v28.66667c0,7.83362 6.49972,14.33333 14.33333,14.33333h28.66667v-14.33333h-28.66667v-28.66667zM136.16667,107.5v28.66667h-28.66667v14.33333h28.66667c7.83362,0 14.33333,-6.49972 14.33333,-14.33333v-28.66667z">
                            </path>
                        </g>
                    </g>
                </svg></span>

            <span (click)="closeModal()" class="close"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="modal-body">
        <iframe [src]="url | safe" target="_parent" target="_parent" scrolling="no"
            [ngClass]="isFullScreen ? 'fullscreen-iframe ' : 'iframe-style' " allowfullscreen>
        </iframe>

    </div>


</div>